*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: 0 auto;
    position: relative;

}
/*****************************************HERO*************************/
.hero{
    width: 100%;
    height: 650px;
}
.heroImage{
   width: 100%;
   height: 650px;
   position: relative;
}
.introduction{
   position: absolute;
   width: 741px;
    height: 537px;
   left: 63px;
   top: 384px;
   background: #FFFFFF;
   box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.1);
}
.headlineWithSpan{
    width: 521px;
    height: 147px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 49px;
    color: #000000;
    margin-bottom: 40px;
    margin-top: 60px;
    margin-left: 30px;
}
.span1{
   color: red;
}
.headParaf{
    width: 515px;
    height: 96px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
   /* border: 1px solid red; */
   margin-left: 30px;
}
.exploreBTN{
    border: none;
    padding: 12px 24px 12px 16px;
    width: 250px;
    height: 65px;
    background: #F78065;
    margin-top: 50px;
    margin-left: 30px;
    color: white;
}



/*******************************************SERVICES*******************************/
.services{
    margin-top: 70vh;   
    font-family: var(--base-font); 
    /* border: 10px solid red; */
}
.serviceDiv{
    height: 100vh;
   
}

.serviceImage{
    width: 222.82px;
    height: 180px;
    margin-bottom: 10vh;
}

.serviceHeadline{
    font-weight: 700;
    font-size: 24px;
    color: #000000;
    width: 386px;
    height: 224px;
}
.serviceText{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    width: 386px;
    height: 224px;
}
.serviceLinkText{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #F78065;
    width: 386px;
    height: 224px;  
} 


