/**************************************HERO***********************/
.exploreBTN{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}



/**********************************SERVICES*************************/
.services{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.serviceDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


